<div class="item">
	<h3 class="text-right" style="padding-top:0px; border-bottom: 1px solid #e6e6e6;">
		<i class="fa fa-warning"></i> Forgot your password?
	</h3>
	<br>

	<p class="text-justify">Enter your username, and we'll send you an email with a link and instructions to reset your password.
	If you signed up without an email address (or removed it from settings), visit the FAQ.
	</p>

	<br>
	<form id="lost_password" method="post" class="form" role="form">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Enter your username" autocomplete="off">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">
					<i class="fa fa-envelope"></i> Send my password back :)
				</button>
			</span>
		</div>
	</form>
</div>