.list-group-item {
    background-color: #333;
    color: #36a2b6;
}

.panel-default>.panel-heading {
	background-color: #333;
	color: #36a2b6;
}

.panel-default>.panel-heading:hover {
	background-color: #A5281B;
	color: #6bc0ea;
}


button {
	border-bottom: 0;
	border-color: #ddd;
	border-top-left-radius: 3px;
   	border-top-right-radius: 3px;
}



button:hover, a:hover {
	color: #6bc0ea;
}

.md-content {
	background: #333;
	color: #36a2b6;
}

html, .darker {
	background-color: #333;
}

.modal {
    /*! adjust transition time */
    -webkit-transition: all ease-out !important;
    -moz-transition: all 0.3s ease-out !important;
    -o-transition: all 0.3s ease-out !important;
    transition: all 0.3s ease-out !important;
}
.modal.in .modal-dialog {
    /*! editthis transform to any transform you want */
    -webkit-transform: scale(1, 1) !important;
    -ms-transform: scale(1, 1) !important;
    transform: scale(1, 1) !important;
}
.modal.fade .modal-dialog {
    /*! disable sliding from left/right/top/bottom */
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}