<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"> 
	<link rel="stylesheet" href="/static/css/nav/navigator.min.css"> 
    	<link rel="stylesheet" href="/static/css/nav/item-catalog-navbar.css">
   	<link rel="stylesheet" href="/static/css/nav/animation/animation.css">
   	<link rel="stylesheet" type="text/css" href="/static/css/modal/default.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/modal/component.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/custom/custom.css" />
	<script src="/static/js/modal/modernizr.custom.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</html>
	<title>Front</title>
</head>
<body>
	<div class="container-fluid darker">
		{% include 'navbar/navbar.html' %}
	</div>
	<div class="container-fluid darker">
		<div class="row">
			<div class="col-md-3">
				<p class="lead">CATEGORIES</p>
			            <div class="panel-group" id="accordion">
			            	{% for category in categories %}
						<div class="panel panel-default">
							<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#{{ category.name }}">
								<h4 class="panel-title">
								<a href="{{ category.name }}">{{ category.name }}</a>
								</h4>
							</div>
							<div id="{{ category.name }}" class="panel-collapse collapse">
								<div class="panel-body darker">
									<ul class="list-group">
										{% if category.items != [] %}
									            	<li class="list-group-item">
									            		<a href="{{ category.name }}">Show all {{ category.name }}</a>
									            	</li>
										{% endif %}
										{% for item in category.items if not category.item == [] %}
									            	<li class="list-group-item">{{ item.name }}</li>
									            {% endfor %}
									            {% if category.items == [] %}
									            	<li class="list-group-item">No items in this category</li>
									            {% endif %}
									</ul>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			{% block content %}
			{% endblock %}
		</div>
	</div>
	{% include 'scripts.inc' %}
</body>
</html>