<!DOCTYPE html>
<html>
<head>
	{% include 'css.inc' %}	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</html>
	<title>Front</title>
</head>
<body>
	<div class="container-fluid darker">
		{% include 'navbar/navbar.html' %}
	</div>
	<div class="container-fluid darker">
		<div class="row">
			<div class="col-md-3">
				<p class="lead">CATEGORIES</p>
			            <div class="panel-group" id="accordion">
			            	{% for category in category_sidebar %}
						<div class="panel panel-default">
							<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#{{ category.name }}">
								<h4 class="panel-title">{{ category.name }}</h4>
							</div>
							<div id="{{ category.name }}" class="panel-collapse collapse">
								<div class="panel-body darker">
									<ul class="list-group">
										{% if category.items != [] %}
									            	<li class="list-group-item">
									            		<a href="{{ url_for('category', category_name=category.slug_name) }}"><b>Show all {{ category.name }}</b></a>
									            	</li>
										{% endif %}
										{% for item in category.items if not category.item == [] %}
									            	<li class="list-group-item">
									            		<a href="{{ url_for('item', item_name=item.slug_name) }}">{{ item.name }}</a>
									            	</li>
									            {% endfor %}
									            {% if category.items == [] %}
									            	<li class="list-group-item">No items in this category</li>
									            {% endif %}
									</ul>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				<p class="lead"><a href="{{ url_for('item_index') }}">Show all items</a></p>
			</div>
			{% block content %}
			{% endblock %}
		</div>
	</div>
	{% include 'scripts.inc' %}
</body>
</html>