{% extends 'base.html' %}

{% block content %}
<div class="row">
	<div class="col-md-3">
		<p class="lead">Categories</p>
	            <div class="panel-group" id="accordion">
	            	{% for category in categories %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#{{ category.name }}">
						{{ category.name }}</a>
						</h4>
					</div>
					<div id="{{ category.name }}" class="panel-collapse collapse">
						<div class="panel-body">
							<ul class="list-group">
								{% for item in category.items if not category.item == [] %}
							            	<li class="list-group-item">{{ item.name }}</li>
							            {% endfor %}
							            {% if category.items == [] %}
							            	<li class="list-group-item">No items in this category</li>
							            {% endif %}
							</ul>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class ="col-md-9">
		<p class="lead">Items</p>
	</div>
</div>
{% endblock %}