{% extends 'base.html' %}

{% block content %}
	<div class ="col-md-9">
		<p class="lead">All Items</p>
		{% for category in categories %}
			<div class="container-fluid darker">
				<button onclick="location.href='{{ url_for('category', category_name=category.slug_name) }}'">{{ category.name }}</button>
				<br>
					<ul class="list-group">
						{% for item in category.items if not category.item == [] %}
					            	<li class="list-group-item">
					            		<a href="{{ url_for('item', item_name=item.slug_name) }}">{{ item.name }}</a>
					            	</li>
					            {% endfor %}
					            {% if category.items == [] %}
					            	<li class="list-group-item">No items in this category</li>
					            {% endif %}
					</ul>
				<hr>
			</div>
			{% for item in category.items %}
				<div class="md-modal md-effect-1" id="modal-{{ item.id }}">
					<div class="md-content">
						<h3>{{ item.name }}</h3>
						<div>
							<p>This is a modal window. You can do the following things with it:</p>
							<hr>
							<img src="http://placehold.it/600x300" class="img-rounded img-responsive" alt="{{ item.name }}">
							<hr>
							<button onclick="location.href='{{ url_for('item', item_name=item.slug_name) }}'">Go to item page</button>
							<button class="md-close">Close me!</button>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endfor %}
		<div class="md-overlay"></div>
	</div>
	<!-- Modals -->
	
{% endblock %}